<!doctype html>
<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>BackStackRecordTest</title>
<link href="../../../images/logo-icon.svg" rel="icon" type="image/svg">    <script>var pathToRoot = "../../../";</script>
    <script>document.documentElement.classList.replace("no-js","js");</script>
    <script>const storage = localStorage.getItem("dokka-dark-mode")
    if (storage == null) {
        const osDarkSchemePreferred = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        if (osDarkSchemePreferred === true) {
            document.getElementsByTagName("html")[0].classList.add("theme-dark")
        }
    } else {
        const savedDarkMode = JSON.parse(storage)
        if(savedDarkMode === true) {
            document.getElementsByTagName("html")[0].classList.add("theme-dark")
        }
    }
    </script>
<script type="text/javascript" src="https://unpkg.com/kotlin-playground@1/dist/playground.min.js" async></script>
<script type="text/javascript" src="../../../scripts/sourceset_dependencies.js" async></script>
<link href="../../../styles/style.css" rel="Stylesheet">
<link href="../../../styles/main.css" rel="Stylesheet">
<link href="../../../styles/prism.css" rel="Stylesheet">
<link href="../../../styles/logo-styles.css" rel="Stylesheet">
<link href="../../../styles/font-jb-sans-auto.css" rel="Stylesheet">
<link href="../../../ui-kit/ui-kit.min.css" rel="Stylesheet">
<script type="text/javascript" src="../../../scripts/clipboard.js" async></script>
<script type="text/javascript" src="../../../scripts/navigation-loader.js" async></script>
<script type="text/javascript" src="../../../scripts/platform-content-handler.js" async></script>
<script type="text/javascript" src="../../../scripts/main.js" defer></script>
<script type="text/javascript" src="../../../scripts/prism.js" async></script>
<script type="text/javascript" src="../../../ui-kit/ui-kit.min.js" defer></script>
<script type="text/javascript" src="../../../scripts/symbol-parameters-wrapper_deferred.js" defer></script></head>
<body>
    <div class="root">
    <nav class="navigation theme-dark" id="navigation-wrapper">
<a class="library-name--link" href="../../../index.html">
                    sesl.androidx
            </a>        <button class="navigation-controls--btn navigation-controls--btn_toc ui-kit_mobile-only" id="toc-toggle" type="button">Toggle table of contents
        </button>
        <div class="navigation-controls--break ui-kit_mobile-only"></div>
        <div class="library-version" id="library-version">
        </div>
        <div class="navigation-controls">
        <div class="filter-section filter-section_loading" id="filter-section">
                <button class="platform-tag platform-selector jvm-like" data-active="" data-filter=":fragment/main">main</button>
            <div class="dropdown filter-section--dropdown" data-role="dropdown" id="filter-section-dropdown">
                <button class="button button_dropdown filter-section--dropdown-toggle" role="combobox" data-role="dropdown-toggle" aria-controls="platform-tags-listbox" aria-haspopup="listbox" aria-expanded="false" aria-label="Toggle source sets"></button>
                <ul role="listbox" id="platform-tags-listbox" class="dropdown--list" data-role="dropdown-listbox">
                    <div class="dropdown--header"><span>Platform filter</span>
                        <button class="button" data-role="dropdown-toggle" aria-label="Close platform filter">
                            <i class="ui-kit-icon ui-kit-icon_cross"></i>
                        </button>
                    </div>
                        <li role="option" class="dropdown--option platform-selector-option jvm-like" tabindex="0">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox--input" id=":fragment/main" data-filter=":fragment/main">
                                <span class="checkbox--icon"></span>
                                main
                            </label>
                        </li>
                </ul>
                <div class="dropdown--overlay"></div>
            </div>
        </div>
            <button class="navigation-controls--btn navigation-controls--btn_theme" id="theme-toggle-button" type="button">Switch theme
            </button>
            <div class="navigation-controls--btn navigation-controls--btn_search" id="searchBar" role="button">Search in
                API
            </div>
        </div>
    </nav>
        <div id="container">
            <div class="sidebar" id="leftColumn">
                <div class="dropdown theme-dark_mobile" data-role="dropdown" id="toc-dropdown">
                    <ul role="listbox" id="toc-listbox" class="dropdown--list dropdown--list_toc-list" data-role="dropdown-listbox">
                        <div class="dropdown--header">
                            <span>
                                    sesl.androidx
                            </span>
                            <button class="button" data-role="dropdown-toggle" aria-label="Close table of contents">
                                <i class="ui-kit-icon ui-kit-icon_cross"></i>
                            </button>
                        </div>
                        <div class="sidebar--inner" id="sideMenu"></div>
                    </ul>
                    <div class="dropdown--overlay"></div>
                </div>
            </div>
            <div id="main">
<div class="main-content" data-page-type="classlike" id="content" pageids="fragment::androidx.fragment.app/BackStackRecordTest///PointingToDeclaration//2082345138">
  <div class="breadcrumbs"><a href="../../index.html">fragment</a><span class="delimiter">/</span><a href="../index.html">androidx.fragment.app</a><span class="delimiter">/</span><span class="current">BackStackRecordTest</span></div>
  <div class="cover ">
    <h1 class="cover"><span>Back</span><wbr><span>Stack</span><wbr><span>Record</span><wbr><span><span>Test</span></span></h1>
    <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">class </span><a href="index.html">BackStackRecordTest</a><span class="clearfix"><span class="floating-right">(<a href="https://github.com/tribalfs/sesl-androidx/blob/sesl-androidx-main/fragment/fragment/src/androidTest/java/androidx/fragment/app/BackStackRecordTest.kt#L36">source</a>)</span></span></div></div></div>
  </div>
  <div class="tabbedcontent">
    <div class="tabs-section" tabs-section="tabs-section"><button class="section-tab" data-active="" data-togglable="CONSTRUCTOR,TYPE,PROPERTY,FUNCTION">Members</button></div>
    <div class="tabs-section-body">
      <div data-togglable="CONSTRUCTOR">
        <h2 class="">Constructors</h2>
        <div class="table"><a data-name="2073863147%2FConstructors%2F2082345138" anchor-label="BackStackRecordTest" id="2073863147%2FConstructors%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-togglable="CONSTRUCTOR" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="-back-stack-record-test.html"><span>Back</span><wbr><span>Stack</span><wbr><span>Record</span><wbr><span><span>Test</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2073863147%2FConstructors%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">constructor</span><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-togglable="PROPERTY">
        <h2 class="">Properties</h2>
        <div class="table"><a data-name="1398696672%2FProperties%2F2082345138" anchor-label="activityRule" id="1398696672%2FProperties%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="activity-rule.html"><span>activity</span><wbr><span><span>Rule</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1398696672%2FProperties%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">val </span><a href="activity-rule.html">activityRule</a><span class="token operator">: </span><span data-unresolved-link="/<Error class: unknown class>///PointingToDeclaration/">&lt;Error class: unknown class&gt;</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-1360297590%2FProperties%2F2082345138" anchor-label="ruleChain" id="-1360297590%2FProperties%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="rule-chain.html"><span>rule</span><wbr><span><span>Chain</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1360297590%2FProperties%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">val </span><a href="rule-chain.html">ruleChain</a><span class="token operator">: </span><span data-unresolved-link="/<Error class: unknown class>///PointingToDeclaration/">&lt;Error class: unknown class&gt;</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-togglable="FUNCTION">
        <h2 class="">Functions</h2>
        <div class="table"><a data-name="2075252794%2FFunctions%2F2082345138" anchor-label="setMaxLifecycleDestroyed" id="2075252794%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="set-max-lifecycle-destroyed.html"><span>set</span><wbr><span>Max</span><wbr><span>Lifecycle</span><wbr><span><span>Destroyed</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2075252794%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="set-max-lifecycle-destroyed.html"><span class="token function">setMaxLifecycleDestroyed</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-1552401825%2FFunctions%2F2082345138" anchor-label="setMaxLifecycleInitialized" id="-1552401825%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="set-max-lifecycle-initialized.html"><span>set</span><wbr><span>Max</span><wbr><span>Lifecycle</span><wbr><span><span>Initialized</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1552401825%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="set-max-lifecycle-initialized.html"><span class="token function">setMaxLifecycleInitialized</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-1529773139%2FFunctions%2F2082345138" anchor-label="setMaxLifecycleInitializedAfterConfigChange" id="-1529773139%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="set-max-lifecycle-initialized-after-config-change.html"><span>set</span><wbr><span>Max</span><wbr><span>Lifecycle</span><wbr><span>Initialized</span><wbr><span>After</span><wbr><span>Config</span><wbr><span><span>Change</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1529773139%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="set-max-lifecycle-initialized-after-config-change.html"><span class="token function">setMaxLifecycleInitializedAfterConfigChange</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="1293293395%2FFunctions%2F2082345138" anchor-label="setMaxLifecycleInitializedAfterCreated" id="1293293395%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="set-max-lifecycle-initialized-after-created.html"><span>set</span><wbr><span>Max</span><wbr><span>Lifecycle</span><wbr><span>Initialized</span><wbr><span>After</span><wbr><span><span>Created</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1293293395%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="set-max-lifecycle-initialized-after-created.html"><span class="token function">setMaxLifecycleInitializedAfterCreated</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-1384680009%2FFunctions%2F2082345138" anchor-label="setMaxLifecycleWrongFragmentManager" id="-1384680009%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="set-max-lifecycle-wrong-fragment-manager.html"><span>set</span><wbr><span>Max</span><wbr><span>Lifecycle</span><wbr><span>Wrong</span><wbr><span>Fragment</span><wbr><span><span>Manager</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1384680009%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="set-max-lifecycle-wrong-fragment-manager.html"><span class="token function">setMaxLifecycleWrongFragmentManager</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="429779389%2FFunctions%2F2082345138" anchor-label="testDetachFragmentWithManager" id="429779389%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-detach-fragment-with-manager.html"><span>test</span><wbr><span>Detach</span><wbr><span>Fragment</span><wbr><span>With</span><wbr><span><span>Manager</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="429779389%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-detach-fragment-with-manager.html"><span class="token function">testDetachFragmentWithManager</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="1728369621%2FFunctions%2F2082345138" anchor-label="testExpandCollapseOpsPrimaryNav" id="1728369621%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-expand-collapse-ops-primary-nav.html"><span>test</span><wbr><span>Expand</span><wbr><span>Collapse</span><wbr><span>Ops</span><wbr><span>Primary</span><wbr><span><span>Nav</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1728369621%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-expand-collapse-ops-primary-nav.html"><span class="token function">testExpandCollapseOpsPrimaryNav</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-1655728784%2FFunctions%2F2082345138" anchor-label="testExpandCollapseOpsReplace" id="-1655728784%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-expand-collapse-ops-replace.html"><span>test</span><wbr><span>Expand</span><wbr><span>Collapse</span><wbr><span>Ops</span><wbr><span><span>Replace</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1655728784%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-expand-collapse-ops-replace.html"><span class="token function">testExpandCollapseOpsReplace</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-1120666048%2FFunctions%2F2082345138" anchor-label="testExpandCollapseOpsReplaceMultiple" id="-1120666048%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-expand-collapse-ops-replace-multiple.html"><span>test</span><wbr><span>Expand</span><wbr><span>Collapse</span><wbr><span>Ops</span><wbr><span>Replace</span><wbr><span><span>Multiple</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1120666048%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-expand-collapse-ops-replace-multiple.html"><span class="token function">testExpandCollapseOpsReplaceMultiple</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="2037038527%2FFunctions%2F2082345138" anchor-label="testExpandCollapseOpsReplaceMultiplePrimaryNav" id="2037038527%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-expand-collapse-ops-replace-multiple-primary-nav.html"><span>test</span><wbr><span>Expand</span><wbr><span>Collapse</span><wbr><span>Ops</span><wbr><span>Replace</span><wbr><span>Multiple</span><wbr><span>Primary</span><wbr><span><span>Nav</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2037038527%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-expand-collapse-ops-replace-multiple-primary-nav.html"><span class="token function">testExpandCollapseOpsReplaceMultiplePrimaryNav</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="68622575%2FFunctions%2F2082345138" anchor-label="testExpandCollapseOpsReplacePrimaryNav" id="68622575%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-expand-collapse-ops-replace-primary-nav.html"><span>test</span><wbr><span>Expand</span><wbr><span>Collapse</span><wbr><span>Ops</span><wbr><span>Replace</span><wbr><span>Primary</span><wbr><span><span>Nav</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="68622575%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-expand-collapse-ops-replace-primary-nav.html"><span class="token function">testExpandCollapseOpsReplacePrimaryNav</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-738392746%2FFunctions%2F2082345138" anchor-label="testHideOnFragmentWithAManager" id="-738392746%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-hide-on-fragment-with-a-manager.html"><span>test</span><wbr><span>Hide</span><wbr><span>On</span><wbr><span>Fragment</span><wbr><span>With</span><wbr><span><span>AManager</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-738392746%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-hide-on-fragment-with-a-manager.html"><span class="token function">testHideOnFragmentWithAManager</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="486925614%2FFunctions%2F2082345138" anchor-label="testRemoveFragmentWithManager" id="486925614%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-remove-fragment-with-manager.html"><span>test</span><wbr><span>Remove</span><wbr><span>Fragment</span><wbr><span>With</span><wbr><span><span>Manager</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="486925614%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-remove-fragment-with-manager.html"><span class="token function">testRemoveFragmentWithManager</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="1475010164%2FFunctions%2F2082345138" anchor-label="testSetPrimaryNavigationFragmentOnFragmentWithAManager" id="1475010164%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-set-primary-navigation-fragment-on-fragment-with-a-manager.html"><span>test</span><wbr><span>Set</span><wbr><span>Primary</span><wbr><span>Navigation</span><wbr><span>Fragment</span><wbr><span>On</span><wbr><span>Fragment</span><wbr><span>With</span><wbr><span><span>AManager</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1475010164%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-set-primary-navigation-fragment-on-fragment-with-a-manager.html"><span class="token function">testSetPrimaryNavigationFragmentOnFragmentWithAManager</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
<a data-name="-730421701%2FFunctions%2F2082345138" anchor-label="testShowOnFragmentWithAManager" id="-730421701%2FFunctions%2F2082345138" data-filterable-set=":fragment/main"></a>
          <div class="table-row" data-filterable-current=":fragment/main" data-filterable-set=":fragment/main">
            <div class="main-subrow keyValue ">
              <div class=""><span class="inline-flex">
                  <div><a href="test-show-on-fragment-with-a-manager.html"><span>test</span><wbr><span>Show</span><wbr><span>On</span><wbr><span>Fragment</span><wbr><span>With</span><wbr><span><span>AManager</span></span></a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-730421701%2FFunctions%2F2082345138"></span>
                    <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
                  </span></span></div>
              <div>
                <div class="title">
                  <div class="platform-hinted " data-platform-hinted="data-platform-hinted"><div class="content sourceset-dependent-content" data-active="" data-togglable=":fragment/main"><div class="symbol monospace"><span class="token keyword">fun </span><a href="test-show-on-fragment-with-a-manager.html"><span class="token function">testShowOnFragmentWithAManager</span></a><span class="token punctuation">(</span><span class="token punctuation">)</span></div></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="footer">
        <a href="#content" id="go-to-top-link" class="footer--button footer--button_go-to-top"></a>
        <span>© 2025 Copyright</span>
        <span class="pull-right">
            <span>Generated by </span>
            <a class="footer--link footer--link_external" href="https://github.com/Kotlin/dokka">
                <span>dokka</span>
            </a>
        </span>
    </div>
            </div>
        </div>
    </div>
</body>
</html>
